* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
.header {
    padding-top: 100px;
    margin-right: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    background-color: green;

}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    background-color: #031a29;
    display: block;
    font: 3em 'Montserrat';
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #16204d;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #002e84;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #0081bd;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #2900bd;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #31fd4c;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}

}
.containerh {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    background-color: #031a29;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    align-items: center;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    font-size: 10px;
    padding: 2px 8px;
    border: 2px solid black;
    background-color: #2589bd;
    border-radius: 20%;

}

p {
    font-size: 16px;
}

.hero {
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Juno-Beach-Sunrise-Vertical-Beach-Photo.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
    
  h1 {
    margin: 0;
    font-family: 'Rocher';
    text-align: center;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .p1 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   }
  
  @font-palette-values --Grays {
    font-family: Rocher;
    base-palette: 9;
  }
  
  @font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
  }
  
  @font-palette-values --Mint {
    font-family: Rocher;
    base-palette: 7;
  }
  
  .grays {
    font-palette: --Grays;
  }
  
  .purples {
    font-palette: --Purples;
  }
  
  .mint {
    font-palette: --Mint;
  }  
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
.container {
    max-width: 300px;
    max-height: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
}
#display {
    text-align: right;
    height: 50px;
    line-height: 50px;
    padding: 8px 4px;
    font-size: 14px;
}
.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}
.button {
    border: 0.5px solid #999;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}
.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
      background-color: #04AA6D;
    }
  }
  

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
